<li class="brewery-item" *ngIf="currentRoute==='/'">
  <button class="brewery-item__button" type="button" (click)="handleDislike()" *ngIf="isLiked && currentRoute==='/'">&#9829;</button>
  <button class="brewery-item__button" type="button" (click)="handleLike()" *ngIf="!isLiked && currentRoute==='/'">&#9825;</button>
  <h2>{{breweryItem.name | uppercase}}</h2>
  <h3>{{breweryItem.city | uppercase}}</h3>
  <div class="brewery-item__image"></div>
  <button (click)="isMoreInfoOpen = !isMoreInfoOpen">
    <ng-container *ngIf="isMoreInfoOpen">Close more info</ng-container>
    <ng-container *ngIf="!isMoreInfoOpen">Show more info</ng-container>
  </button>
  <app-more-info *ngIf="isMoreInfoOpen"></app-more-info>
</li>

<li class="brewery-item" *ngIf="currentRoute==='/wishlist' && isLiked">
  <button class="brewery-item__button" type="button" (click)="handleRemove()" *ngIf="currentRoute==='/wishlist'">&#x2715;</button>
  <h2>{{breweryItem.name | uppercase}}</h2>
  <h3>{{breweryItem.city | uppercase}}</h3>
  <div class="brewery-item__image"></div>
  <button (click)="isMoreInfoOpen = !isMoreInfoOpen">
    <ng-container *ngIf="isMoreInfoOpen">Close more info</ng-container>
    <ng-container *ngIf="!isMoreInfoOpen">Show more info</ng-container>
  </button>
  <app-more-info *ngIf="isMoreInfoOpen"></app-more-info>
</li>
