<div class="home">
  <app-navbar></app-navbar>
  <h1 class="home__title">Greetings {{userName}}</h1>
  <form class="home__search-form" (submit)="handleSubmit($event)">
    <label class="home__input-label" for="search-input">Search breweries by city:</label>
    <input class="home__search-input" type="text" id="search-input" minlength="2" (input)="handleSearchInput($event)">
    <button class="home__search-submit" type="submit">Submit your search</button>
  </form>
  <h2 class="home__subtitle">Search result</h2>
  <ul class="home__search-result">
    <ng-container *ngFor="let breweryItem of breweries; let i=index">
      <app-brewery-item [breweryItem]="breweryItem"></app-brewery-item>
    </ng-container>
  </ul>
</div>
